appdirs==1.4.4
arcade==2.6.16
attrs==23.1.0
audioread==3.0.0
beautifulsoup4==4.12.2
bing-image-downloader==1.1.2
bs4==0.0.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
click==8.1.3
cloudpickle==2.2.1
colorama==0.4.6
contourpy==1.0.7
cv==1.0.0
cycler==0.11.0
decorator==5.1.1
exceptiongroup==1.1.1
filelock==3.12.0
fonttools==4.38.0
gym==0.26.2
gym-notices==0.0.8
idna==3.4
ImageHash==4.3.1
imageio==2.28.1
iniconfig==2.0.0
Jinja2==3.1.2
joblib==1.2.0
key==0.4
kiwisolver==1.4.4
lazy_loader==0.2
librosa==0.9.2
llvmlite==0.39.1
MarkupSafe==2.1.2
matplotlib==3.7.0
mpmath==1.3.0
mypy-extensions==1.0.0
networkx==3.1
numba==0.56.4
numpy==1.23.0
opencv-contrib-python==4.7.0.72
opencv-python==4.7.0.68
opencv-python-headless==4.7.0.68
packaging==23.0
pandas==2.0.1
Pillow==9.1.1
pip-additions==0.2
pip-autocompile==0.7.6
place-bot @ git+https://github.com/emmanuel-battesti/place-bot.git@4f4fb6832215037a62a4b2f4119dbe7f6408368f
pluggy==1.0.0
pooch==1.6.0
progressbar==2.5
pycparser==2.21
pydantic==1.10.5
pygit2==1.11.1
pyglet==2.0.dev23
pymunk==6.2.1
pyparsing==3.0.9
pyre-extensions==0.0.29
pytest==7.3.1
python-dateutil==2.8.2
python-magic-bin==0.4.14
python-on-whales==0.55.0
pytiled-parser==2.2.0
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0
requests==2.28.2
resampy==0.4.2
scikit-image==0.20.0
scikit-learn==1.2.1
scipy==1.10.0
simple-image-download==0.5
six==1.16.0
snakeviz==2.2.0
soundfile==0.12.1
soupsieve==2.4.1
spg @ git+https://github.com/emmanuel-battesti/simple-playgrounds.git@a69a26d1bfa5ea074cac56c108507362b6fddc11
sympy==1.12
threadpoolctl==3.1.0
tifffile==2023.4.12
tomli==2.0.1
torch==2.0.1+cu118
torchaudio==2.0.2+cu118
torchvision==0.15.2
tornado==6.3.1
tqdm==4.64.1
tripy==1.0.0
typer==0.7.0
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.14
xformers==0.0.20
