<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiles gallery</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <a href="index.html">
    <button class="back-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
      </svg>
    </button>
  </a>
    <h1>Tiles gallery</h1>
    <form id = "generate" method="POST">
      <input class="launch-btn" name="generate" type="submit" value="Generate new images">
    </form>
    
    <div class="grid-container">
      {% for image_name in image_names %}
        <div class="grid-item">
          <img class="grid-img" src="{{ url_for('static', filename='images/' +image_name) }}" alt="Image example">
        </div>
      {% endfor %}
    </div>

    <script>
      let currentImg;
      // Get all images 
      const imgs = document.querySelectorAll('.grid-img');
      imgs.forEach(img => {
        img.addEventListener('click', e => {
          e.stopPropagation();
          
          if(currentImg) {
            currentImg.classList.remove('enlarged'); 
          }
          
          currentImg = img;
          currentImg.classList.add('enlarged');
        }); 
      });

      document.addEventListener('click', e => {
        if(currentImg) {
          currentImg.classList.remove('enlarged');
          currentImg = null;
        }
        
        e.stopPropagation();
      });
    </script>

    <form method="POST">
      <div class="input-row">
        <label for="grid-width">
        Grid height:
        <input type="number" id="grid-width" name="grid-width" value="4">
        </label>
        <label for="grid-height">
        Grid width:
        <input type="number" id="grid-height" name="grid-height" value="4">
        </label>
        
      </div>

      <input class="launch-btn" name="grid" type="submit" value="Save grid">
    </form>

  </body>
</html>