<!DOCTYPE html>
<html>
<head>
    <title>TileGAN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/icon.ico') }}">
</head>
<body>
    <h1>Welcome to the tileGAN results website</h1>
    <p> <a href="gallery.html">Example of some generated tiles</a>.</p>
    <p> <a href="morphing.html">To make a nice morphing video between two tiles</a>.</p>
    <p> <a href="videos.html">To see some pre-generated videos</a>.</p>
</body>
</html>